{% extends 'base.html.twig' %}

{% block title %}Hello FichesJoueurController!{% endblock %}

{% block body %}
<h1> Fiches joueurs</h1>
<div class="card">
  <h5 class="card-header">Aboubacar SANO</h5>
  <div class="card-body">
    <h5 class="card-title">Attaquant</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Younes SANO</h5>
  <div class="card-body">
    <h5 class="card-title">Ailier defensif</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>

<div class="card">
  <h5 class="card-header">Issa SANO</h5>
  <div class="card-body">
    <h5 class="card-title">Milieu</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>
{% endblock %}
