{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Page d'Inscription</h1>

    <div class="card">
  <h5 class="card-header">INSCRIPTION</h5>
  <div class="card-body">
    <h5 class="card-title">Vous êtes un joueur</h5>
    <p class="card-text">Vous êtes à la recherche d'un club ou d'un agent<br> 
                          Vous êtes au bon endroit.<br>
                          Rejoignez nous </p>
    <a href="#" class="btn btn-primary">S'inscrire</a>
  </div>
</div>

<div class="card">
  <h5 class="card-header">INSCRIPTION</h5>
  <div class="card-body">
    <h5 class="card-title">Vous êtes un club</h5>
    <p class="card-text">Vous cherchez des pepites ou de vrais denicheurs de talents<br>
                          Vous êtes au bon endroit<br>
                            Rejoignez nous</p>
    <a href="#" class="btn btn-primary">S'inscrire</a>
  </div>
</div>

<div class="card">
  <h5 class="card-header">INSCRIPTION</h5>
  <div class="card-body">
    <h5 class="card-title">Vous êtes un agent</h5>
    <p class="card-text">Vous cherchez une pepite ou souhaitez travailler pour un club<br>
                          Vous etes au bon endroit <br>
                            Rejoignez nous</p>
    <a href="#" class="btn btn-primary">S'inscrire</a>
  </div>
</div>
{% endblock %}
